## Mengimport Library

In [5]:
import pandas as pd
import prettytable as pt

## Mengeskpor Data

In [6]:
df = pd.read_csv("Breast_Cancer.csv")

In [7]:
df.tail()

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   differentiate           4024 non-null   object
 7   Grade                   4024 non-null   object
 8   A Stage                 4024 non-null   object
 9   Tumor Size              4024 non-null   int64
 10  Estrogen Status         4024 non-null   object
 11  Progesterone Status     4024 non-null   object
 12  Regional Node Examined  4024 non-null   int64
 13  Reginol Node Positive   4024 non-null   int64
 14  Survival Months         4024 non-null   int64
 15  Status                  4024 non-null   object
dtypes: int64(5), object(11)
memory usage: 503.1+ KB

## Mengakses Informasi
1. Jumlah Record
2. Nama Atribute
3. Jumlah atribute dengan tipe objek
4. Jumlah atribute dengan tipe angka
5. Jumlah atribute yang memiliki nilai null

* Jumlah record

In [9]:
jumlah = len(df)
print(jumlah)

4024

* Nama Atribute

In [10]:
kolom1 = df.columns
print(kolom1)

Index(['Age', 'Race', 'Marital Status', 'T Stage ', 'N Stage', '6th Stage',
       'differentiate', 'Grade', 'A Stage', 'Tumor Size', 'Estrogen Status',
       'Progesterone Status', 'Regional Node Examined',
       'Reginol Node Positive', 'Survival Months', 'Status'],
      dtype='object')

* Jumlah Atribute

In [11]:
jumlah_kolom = len(df.columns)
print(jumlah_kolom)

16

* Jumlah atribute dengan tipe objek

In [12]:
objek = len(df.select_dtypes(include=['object']).columns)
print(objek)

11

* Jumlah atribute dengan tipe angka

In [13]:
atribut = len(df.select_dtypes(include=['int64','float64']).columns)
print(atribut)

5

* Jumlah atribut yang memiliki nilai null

In [14]:
Null = len(df.columns[df.isna().sum() > 0])
print(Null)

0

* Menbuat dictonary sesuai informasi yang ada

In [36]:
dt = {  "Record" : jumlah, "Atribute" : kolom1, "Jumlah Atribut" : jumlah_kolom, "Jumlah atribute objek" : objek, "Jumlah atribute angka" : atribut, "Jumlah Atribute tidak null" : Null
}
for key, value in data.items():
    print(key, ' : ', value)

Record  :  4024
Atribute  :  Index(['Age', 'Race', 'Marital Status', 'T Stage ', 'N Stage', '6th Stage',
       'differentiate', 'Grade', 'A Stage', 'Tumor Size', 'Estrogen Status',
       'Progesterone Status', 'Regional Node Examined',
       'Reginol Node Positive', 'Survival Months', 'Status'],
      dtype='object')
Jumlah Atribut  :  16
Jumlah atribute objek  :  11
Jumlah atribute angka  :  5
Jumlah Atribute tidak null  :  0

* menampilkan nilai Q1,Q2,Q3, rata-rata, Standar deviasi, minimal, maksimal

In [16]:
df.describe()

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
count,4024.000000,4024.000000,4024.000000,4024.000000,4024.000000
mean,53.972167,30.473658,14.357107,4.158052,71.297962
std,8.963134,21.119696,8.099675,5.109331,22.921430
min,30.000000,1.000000,1.000000,1.000000,1.000000
25%,47.000000,16.000000,9.000000,1.000000,56.000000
50%,54.000000,25.000000,14.000000,2.000000,73.000000
75%,61.000000,38.000000,19.000000,5.000000,90.000000
max,69.000000,140.000000,61.000000,46.000000,107.000000

* Menampilkan nilai korelasi

In [17]:
df.corr()

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
Age,1.000000,-0.077215,-0.033345,0.012586,-0.009390
Tumor Size,-0.077215,1.000000,0.104352,0.242322,-0.086901
Regional Node Examined,-0.033345,0.104352,1.000000,0.411580,-0.022054
Reginol Node Positive,0.012586,0.242322,0.411580,1.000000,-0.135214
Survival Months,-0.009390,-0.086901,-0.022054,-0.135214,1.000000

* Mengubah Nilai salah satu atribut 3 anggak di belakang koma

In [18]:
df["Tumor Size"]* 0.001

0       0.004
1       0.035
2       0.063
3       0.018
4       0.041
        ...
4019    0.009
4020    0.046
4021    0.022
4022    0.044
4023    0.030
Name: Tumor Size, Length: 4024, dtype: float64

* Menampilkan 10 Record Data Bertipe angka

In [19]:
dtangka = df.select_dtypes(include=["int64","float64"])
dtangka.head(10)

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
0,68,4,24,1,60
1,50,35,14,5,62
2,58,63,14,7,75
3,58,18,2,1,84
4,47,41,3,1,50
5,51,20,18,2,89
6,51,8,11,1,54
7,40,30,9,1,14
8,40,103,20,18,70
9,69,32,21,12,92

* Menyimpan data set

In [20]:
dtangka.to_csv('dtangka.csv', index=False)